body {
    background-color: rgb(44, 164, 208);
    text-align: center;

}

.card{
    margin: 10px;
}

.flex{
    display: flex;
    flex-direction: row;
}

.card-body{
    background-color: rgb(44, 164, 208);
    border: 2px solid rgb(44, 164, 208);
}

